html{
    min-height: 100%;
    position: relative;
}

body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f6fa !important;
    margin: 0;
    margin-bottom: 40px;
}

hr{
    border-top: 1px dashed red;
}

.navbar {
    background: #005092;
    
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.10) !important
}

.navbar a {
    color: white;
}

.navbar ul li ul li a {
    color: black;
}

.footer {
    background: #005092;
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.10) !important;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}    

.footer a {
    color: white;
    text-decoration: none;
}  

h2,h3,h4,h5,ul,body,html {
    padding: 0px;
    margin: 0px;
}
        
.mtop16{
    margin-top: 16px;
}

.mb32{
    margin-bottom: 32px;
}

.mb16{
    margin-bottom: 16px;
}

.page{
    padding-top: 16px;
    padding-bottom: 16px;
}
.page .breadcrumb{
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.10) !important
}
.page   .breadcrumb     .breadcrumb-item a &:hover {
    text-decoration: none;
}

.card{
    background-color:#fff;
    border-radius:6px;
    border-bottom:2px solid #005092;
    width:100%
}
.card .card-header{
    border-bottom:4px solid #005092;
}
.card .card-header h2.title{
    display:inline-block;
    color:#19213d;
    font-size:1.1em;
}
.card .card-header ul{
    display:block;
    float:right;
    margin-right:12px;
    margin-top: -40px;
}
.card .card-header ul li{
    display:inline-block;
    position:relative;
}
.card .card-header ul li a{
    color:#333;
    display:inline-block;
}
.card .card-header ul li a:hover{
    background-color:#f6f6f6 !important;
    color:#222 s;
    text-decoration:none
}
.card .card-header ul li a i{
    color:#256b92
}
.card .card-header ul li ul{
    background-color:#fff;
    border:1px solid #f0f0f0;
    display:none;
    float:none;
    position:absolute;
    right:-16px;
    width:200px
}
.card .card-header ul li ul li{
    display:block;
    border-bottom:1px solid #f0f0f0;
    width:100%
}
.card .card-header ul li ul li:last-child{
    border-bottom:0
}
.card .card-header ul li ul li a{
    display:inline-block;
    width:value
}
.card .card-header ul li:hover ul{
    display:block
}
.card .card-body{
    padding:16px
}
.card .card-body sup{
    color: #E37114;
    font-size: 8px;
}
.card .card-body hr{
    border-top: 4px dashed #459390;
}

.card .card-body h5{
    color: #459390;
    font-size:1em;
}

.card .card-body .nav .nav-link{
    border:1px solid #256b92;
    margin-right:8px
}
.card .card-body .nav .nav-link:hover{
    background-color:#256b92;
    color:#fff
}
.card .card-body .form_search{
    display:none;margin-bottom:16px
}
.card .card-body .form_search .btn{
    width:100%
}


.opts a{
    border-radius: 4px;
    border: 1px solid #dedede;
    display: inline-block;
    padding: 8px 12px;
}

.loader {
	align-items: center;
	background-color: rgba(255, 255, 255, .9);
	display: flex;
	justify-content: center;
	height: 100vh;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1000;
}
.loader .box{
    display: block;
    width: 160px;
}
.loader .cart{
    overflow: hidden;
    width: 100%;
}
.loader .cart img{
    animation: loading_image 2s linear infinite;
    margin-left: -100%;
    display: block;
    position: relative;
    width: 120px;
}
.loader .load {		
    margin-left: calc(50% - 30px);
    height: 60px;
    width: 60px
}


@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}